<mat-toolbar>
  <div class="cs-menu">
    <div class="" style="display: flex; align-items: center">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
    </div>

    <button mat-flat-button color="primary" *ngIf="show" (click)="logout()">
      logout
    </button>
    <button mat-flat-button color="primary" *ngIf="!show">
      <a routerLink="/login" style="text-decoration: none; color: white"
        >Login</a
      >
    </button>
  </div>
</mat-toolbar>
<!-- <app-home-page /> -->
<router-outlet></router-outlet>
